<h2>Sobre o SGI</h2>

<p>
  Sistema desenvolvido para que os usuários possam facilmente solicitar ideias 
  e contribuir com sugestões mediante um cadastro simples ou usar suas 
  credenciais de redes sociais.
  
</p>

<h3>
  Versão beta 0.1
</h3>
<p>
<ul>
  <li>
    Kernel do sistema desenvolvido usando ruby on rails;    
  </li>  
  <li>
    Layout utilizando HTML5 e técnicas de css3;
  </li>  
  <li>
    Cadastro de usuário mediante Nome, e-mail, senha e data de nascimento;
  </li>  
  <li>
    Autenticação simples usando plugin devise;
  </li>  
  <li>
    Autenticação Single sign on usando plugin Omniauth (funcionando com Twitter e Facebook);
  </li>  
  <li>
    Envio de solicitações de ideias e gerência de minhas ideias;
  </li>  
  <li>
    Moderação das ideias enviadas;
  </li>  
  <li>
    Envio de sugestões para cada ideia, sem moderação a priori para fomentas as discussões;
  </li>  
  <li>
    Gerência de perfil de usuário cadastrado;
  </li>  
</ul>
</p>
