<section id="articles">
  <% @sugestoes.each do |sugestao| %>
  <article class="article">
    <div class="title"><%= link_to sugestao.titulo, sugestao %></div>
    <!--<div class="byline"><%= sugestao.created_at.strftime("%d/%m/%Y %Hh%I") %></div>-->
    <div class="byline"><%= sugestao.created_at.strftime("%d de %b de %Y às %Hh%I") %></div>
  </article>
  <% end %>
  
</section>

<%= link_to 'Nova ideia', new_sugestao_path %>
